.sub-btn {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-right: 8px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  vertical-align: top;
}

.sub-btn:hover {
  opacity: 0.8;
}

.sub-btn:active {
  opacity: 0.4;
}

.join-btn {
  background-color: white;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  border-radius: 2px;
  cursor: pointer;
  /* to add space use margin */
  transition: background-color 0.15s, color 0.15s;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  padding-left: 16px;
}

.join-btn:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.join-btn:active {
  opacity: 0.7;
}

.Tweet-btn {
  background-color: rgb(0, 157, 255);
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  /* the trick to border radius is that it has to be half the width or height which ever is lower */
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  /* box-shadow: horizontal_postion, vertical_postion, blurr, color; */
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.Tweet-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
