.sidebar {
  position: fixed;
  /* to maake it stick */
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 74px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 120px;
  display: flex;
  justify-content: center;
  /* affects verticle when coloum and horiztonal when row */
  align-items: center;
  /* affects horiztonal when coloum and verticle when row */
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(230, 229, 229);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, "Helvetica Neue";
  font-size: 10px;
}
/* as you can see here there is a space betrween the link and img which means u are tartgetting all of the images in this class */
